aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiohttp-socks==0.10.1
aiosignal==1.4.0
annotated-types==0.7.0
attrs==25.3.0
click==8.2.1
ddgs==9.5.2
frozenlist==1.7.0
idna==3.10
lxml==6.0.0
multidict==6.6.3
primp==0.15.0
propcache==0.3.2
psutil==7.0.0
pydantic==2.11.7
pydantic-core==2.33.2
pydantic-settings==2.10.1
python-dotenv==1.1.1
python-socks==2.7.2
tqdm==4.67.1
ty==0.0.1a11
typing-extensions==4.14.1
typing-inspection==0.4.1
yarl==1.20.1
